<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Filter type="ThresholdFilter" level="trace" />
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%style{%d{ISO8601}}{bright, light} %highlight{%-5level }[%style{%t}{bright,blue}]
%style{%C{1.}}{bright,yellow}: %msg%n%throwable" disableAnsi="false"/>
        </Console>

        <RollingFile name="RollingFile"
                     fileName="./log/telecom-repository.log"
                     filePattern="./logs/$${date:yyyy-MM}/telecom-repository-%d{-dd-MMMM-yyyy}-%i.log.gz">
            <PatternLayout>
                <pattern>%d %p %C{1.} [%t] %m%n</pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy />
                <TimeBasedTriggeringPolicy interval = "1" />
                <SizeBasedTriggeringPolicy
                        size="10 MB" />
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
        </Root>
    </Loggers>

</Configuration>